body {
    background-color: aquamarine;
    margin: 0;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
}

header img {
    width: 5%;
    height: auto;
}

header ul {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header ul li {
    list-style-type: none;
}

main h1 {
    width: 100%;
    text-align: center;
}

main p {
    width: 60%;
    margin: 50px auto;
}